<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
  <extension 
       point="org.eclipse.ui.exportWizards"> 
      <wizard 
         id="com.paulo.call_hierarchy_exporter.ExportWizard" 
         name="Method call hierarchy" 
         class="com.paulo.call_hierarchy_exporter.ExportWizard" 
         icon="./icons/import1.gif"> 
         <description> 
            A engine that exports methods call hierarchy 
         </description> 
         <selection class="org.eclipse.core.resources.IProject"/> 
      </wizard> 
   </extension> 

</plugin>
